/* THIS STYLE SHEET CONTAINS PERSISTENT ELEMENTS */
/* BACKGROUND */
/* HEADER */
/* NAV BAR including wizard-account icon */
/* FOOTER */

* {
  margin: -4px;
}

body {
  background-image: url("src/components/images/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.persistent-header {
  background-image: url("src/components/images/plant.png");
  background-size: 300px;
  background-color: #bcc6d1e5;
  box-shadow: 2px 2px 25px yellow;
  border-radius: 10px;
  /* position: fixed;
  width: 100%;
  z-index: 1; */
}

#logo-image {
  height: 100px;
  width: 80px;
  padding-top: 45px;
  padding-left: 20px;
  margin-right: 10px;
}

.logo-title {
  font-family: "Almendra", sans-serif;
  color: darkred;
  text-shadow: 3px 4px #FFE449, 5px 5px orange;
  font-size: 50px;
  letter-spacing: 3px;
  text-align: left;
 
  height: 100px;
  margin-bottom: -30px;
  font-weight: bold;
}

.navs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.wizard-icon-nav {
  display: flex;
  justify-content: right;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 4px;
}

.navbar-link {
  color:#FFE449;
  text-shadow: 3px 3px 3px black;
  position: relative;
  font-size: 50px;
  font-family: "Almendra", sans-serif;
  text-decoration: inherit;
}

.navbar-link:hover {
  color: yellow;
  text-decoration: underline;
}


footer {
  background-color: whitesmoke;
  border-radius: 6px;
}

button {
  padding: 40px;
  font-size: 20px;
}

/* .testings {
  background-color: brown;
}

.account-buttons {
 display: block; 
} */