#default-sidebar {
  position: static;
  /* background-color: #739287; */
  background-color: none;
  width: 450px;
  border-radius: 20px 0px 0px 20px;
  height: 1000px;
  margin-top: 4px;
  padding-right: 20px;
  z-index: 4;
  margin-top: -100px;
  text-align: left;
}

#sideBar {
  margin-top: 4px
}

.welcome-user {
  color: #e2d5b0;
  text-align: center;
  font-size: 28px;
}

.logout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Almendra", sans-serif;
  color: #e2d5b0;
  font-size: 20px;
}

.logout-button:hover {
  color: darkred;
  text-decoration: underline;
  
}

.account-testin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: purple; */
  width: 862px;
  z-index: 1;
  height: 100px;
  margin-top: 4px;
  /* margin-left: 430px; */
  border-radius: 0px 30px 0px 0px;
  
}

#account-edit {
  /* margin-top: 20px; */
  font-family: "Almendra", sans-serif;
/* font-size: 30px; */

}

.containerBig {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  z-index: 1;
}
.sideBar-button {
  font-size: 25px;
  margin-top: 50px;
  text-decoration: none;
  margin-left: 20px;
}

/* #side-bar-texty {
  color: orange;
} */

.largest-contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  /* background-color: orange; */
}

.main-contain {
  width: 1300px;
  height: 1000px;
  background-color: #85A499;
  /* background-color: #739287; */
  /* margin-top: 30px; */
  border-radius: 20px;
  margin-top: 0px;
}

.testytesty {
  text-align: center;
  color: orange;
}

#account-submit {
  margin-top: 30px;
  font-size: 20px;
  width: 450px;
}

.edit {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: darkred;
  margin-left: 0px;
  
}

#textington {
text-align: left;
font-size: 20px;
color: #e2d5b0;
letter-spacing: 2px;
font-family: "Almendra", sans-serif;
}
