/* 
.title-box {
display: flex;
flex-wrap: wrap;
justify-content: center;
} */

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-top: 40px;
    background-color: #e2d5b0;
    border-radius: 20px;
    margin-top: 30px;
  }

.book-img {
  height: 350px;
  width: 275px;
  border-radius: 5px;
}

.book-card {
  max-width: 300px;
  margin: 50px;
  text-align: left;
  font-size: 20px;
  font-family: "Almendra", sans-serif;
}

.book-title {
  font-weight: 100;
  letter-spacing: 1px;
  color: darkred;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 0px;
}

.book-author {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 0px;
}