#default-sidebar {
  position: static;
  background-color: #739287;
  width: 450px;
  border-radius: 20px 0px 0px 20px;
  height: 1000px;
  margin-top: 4px;
  padding-right: 20px;
  z-index: 4;
  margin-top: -100px;
  text-align: left;
}

#sideBar {
  margin-top: 4px
}





.testin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: purple; */
  width: 862px;
  z-index: 1;
  height: 100px;
  margin-top: 4px;
  margin-left: 430px;
  border-radius: 0px 30px 0px 0px;
  
}


.book-img-bookmarked {
  width: 100px;
  height: 150px;
}

.bookmarked {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 800px;
  margin-left: 80px;
  overflow: scroll;
  height: 900px;
  margin-top: 20px;
}

.bookmark-title {
/* margin-left: 300px; */
margin-bottom: 0px;
margin-top: 30px;
font-size: 25px;
color: yellow;
text-shadow: 1px 1px 0px red;
text-align: center;
letter-spacing: 1.5px;
}

.book-card-bookmark {
  max-width: 300px;
  margin: 50px;
  text-align: left;
  font-size: 20px;
  font-family: "Almendra", sans-serif;
  /* margin-top: 0px; */
}

.bookmarked-title-books {
  font-weight: 100;
  letter-spacing: 1px;
  color: darkred;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 0px;
  width: 150px;
  height: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}