.background {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #e2d5b0;
  border-radius: 20px;
}

.back-button {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: "Almendra", serif;
  font-size: 20px;
  padding: 10px 60px;
  background-color: #fff1a2;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
}

.accordion-container {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  /* position: absolute; */
  font-family: "Almendra", serif;
  font-size: 40px;
  align-self: center;
  color: #4a0260;
  top: 50px;
}

.sub-text {
  font-family: "Almendra", serif;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

h7 {
  font-family: "Almendra", serif;
}
