#login-logo {
  width: 60px;
  height: 60px;
  margin-left: 135px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#login-text {
  font-size: 20px;
  text-align: center;
  color: darkblue;
}

.login-modal-header {
  margin-left: 40px;
}

.modal-header {
  border-bottom: none;
}

.login-welcome {
  font-size: 25px;
  letter-spacing: 1px;
  color: darkred;
  text-align: center;
}