@tailwind base;
@tailwind components;
@tailwind utilities;

.goldy-background {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #e2d5b0;
  border-radius: 20px;
  margin-top: 20px;
}

.this-test {
  color: black;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 100px;
  margin-bottom: 40px;
}

.this-test-name {
  color: black;
  font-size: 25px;
  /* margin-left: 50px; */
  margin-bottom: 0px;
  margin-top: 30px;
  width: 300px;
}

#profile-logo {
  margin-left: 30px;
  margin-top: 20px;
}

#ratingz {
  margin-left: 40px;
  margin-top: 10px;
}


.back-button-recipe {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: "Almendra", serif;
  font-size: 20px;
  padding: 10px 60px;
  background-color: #fff1a2;
  border-radius: 5px;
  text-decoration: none;
  color: #000000;
}

.testingtons {
  background-color: #e2d5b0;
  border-radius: 20px;
  height: auto;
}

.title {
  padding-top: 50px;
  color: #4a0260;
  text-shadow: 1px 1px 1px orange;
  font-size: 50px;
}

/* .bookmark {
  padding: 2px;
  background-color: #e2d5b0;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Almendra", sans-serif;
  width: 220px;
  /* why is the buttont two different colors */
  /* border: 2px darkred;
  margin-top: 100px;
  letter-spacing: 2px; */
  /* display: flex; */
  /* justify-content: left; */
  /* text-align: center; */
  /* padding-left: 10px; */


.bookmarky {
  border: 2px  solid darkred;
  padding: 5px;
  border-radius: 5px;
  margin-top: 100px;
  font-family: "Almendra", sans-serif;
  width: 220px;
  letter-spacing: 2px;
  font-size: 18px;
  display: flex;
  justify-content: left;
  padding-left: 10px;
  
}

.bookmark-button {
text-decoration: none;
padding-left: 10px;
width: 220px;
border: 2px darkred;
}


.intro {
  margin-top: -50px;
  margin-left: 200px;
}

.recipe-name {
  margin-top: 30px;
  font-size: 42px;
  font-family: "Almendra", sans-serif;
  font-weight: normal;
  color: yellow;
  text-shadow: 2px 2px 1px darkblue;
  letter-spacing: 1px;
  text-align: left;
}

.pic {
  margin-top: 20px;
  border-radius: 20px;
  height: 400px;
  width: 550px;
  display: flex;
  image-resolution: from-image 300dpi;
  justify-content: left;
  box-shadow: 1px 1px 2px gray;
}

.recipe-link {
height: 20px;
}



.cooking-time {
  margin-top: 8px;
  text-align: left;
  padding: 10px;
  font-family: "Almendra", sans-serif;
}

.review-button {
  color: #3B5D80;
  font-family: "Almendra", sans-serif;
  text-decoration: none;
  word-spacing: 5px;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: left;
  letter-spacing: 1px;
  /* padding: 5px; */
  background-color: #e2d5b0;
  border-style: none;
}


.review-button:hover {
  color: darkblue;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.cooking-title {
  margin-top: 80px;
  color: orange;
  text-shadow: 1px 1px 1px red;
  margin-bottom: 30px;
  font-weight: 100;
  text-align: left;
  font-size: 35px;

}

.instructions {
  margin-left: 200px;
  margin-top: 50px;
  font-family: "Almendra", sans-serif;
  font-size: 22px;
  width: 1200px;
  text-align: left;
}

.ingredients-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.recipe-hr {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
  opacity: 100%;
  
}

/* LOOK INTO HIDING OVERFLOW EVENTUALLY */
.ingredients-post {
  background-image: url(https://media.istockphoto.com/id/1330219242/vector/empty-blank-golden-white-coloured-grunge-crumpled-crushed-paper-horizontal-vector.jpg?s=612x612&w=0&k=20&c=E7-fWvRx9pILGOScceur2WV8F8yKyFprVq3YiMFQHsw=);
  border-radius: 20px;
  width: 550px;
  box-shadow: 1px 1px 2px gray;
  text-align: left;
  margin-top: 60px;
  margin-left: 20px;
  font-family: "Almendra", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  height: 500px;
  overflow: hidden;
}

.ingredients-title {
  font-weight: 100;
  font-size: 25px;
}

.ingredient-list {
  list-style-type: circle;
  margin-left: 20px;
}

.ingredient-item {
  margin-left: 30px;
}

/* .review {
  color: purple;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
} */

/* .review-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
} */

/* later change height to auto with margins   */
/* .review-box {
  background-color: whitesmoke;
  box-shadow: 1px 1px 2px black;
  border-radius: 10px;
  width: 1000px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-title {
  margin-top: 30px;
  letter-spacing: 2px;
  font-family: "Almendra", sans-serif;
  font-weight: 100;
  font-size: 30px;
} */