.footer {
  background-color: #4a0260bf;
}

.links {
  display: flex;
  flex-direction: column;
}

.footer-link {
  margin-bottom: 10px;
  color: white;
  font-family: Almendra;
}

.footer-link a {
  color: white;
  text-decoration: none;
}

.social-icons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
