.footer {
  color: #4a0260bf;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column:not(:last-child) {
  margin-right: 20px;
}

.social {
  flex: 1;
}

.heading {
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Almendra", serif;
}

.link {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
  font-family: "Almendra", serif;
}

.footer-link a {
  color: white;
  text-decoration: none;
}

.company {
  font-size: 40px;
  text-decoration: none;
}

.footer-copyright {
  margin-top: 20px;
  color: white;
}
