.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFE449;
    border-style: groove;
}

.small-container {
    background: #FFE449; 
    font-size: 20px;
    width: 1208px;
    height: 632.28px;
    top: 295px;
    left: 152px;
    border-radius: 20px;
    opacity: 92%;
    margin-top: 30px;
    padding-top: 20px;
    border-radius: 20px;

}

.form {
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;

    
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.cooking {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.button {
    border: 2px;
    border-style: groove;
    background-color: #ce4848;
    size: small;
}