@tailwind base;
@tailwind components;
@tailwind utilities;

.review-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
}

/* later change height to auto with margins   */
.review-box {
  background-color: whitesmoke;
  box-shadow: 1px 1px 2px black;
  border-radius: 10px;
  width: 1000px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-title {
  margin-top: 30px;
  letter-spacing: 2px;
  font-family: "Almendra", sans-serif;
  font-weight: 100;
  font-size: 30px;
}
.yellow-box {
  background-color: #fffbe6;
  border: 1px solid #ffd700;
  box-shadow: 1px 1px 2px black;
  border-radius: 10px;
  width: 1000px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 100px;

  justify-content: center;
}
h5 {
  color: black;
  font-family: "Almendra", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 38.88px;
  letter-spacing: 0.1em;
  text-align: center;
}
