.footer {
  background-color: #4a0260bf;
  margin-top: 40px;
  color: white;
  border-radius: 20px;
  font-family: "Almendra", sans-serif;
}

.social-link {
  color: white;
  font-family: "Almendra", sans-serif;
  padding-bottom: 10px;
  margin-right: 70px;
  
}

.footer a {
  color: white;
  font-family: "Almendra", sans-serif;
  padding-bottom: 10px;
  margin-left: 70px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 30px; */

}

.footer-content .column {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
}

.column:not(:last-child) {
  margin-right: 20px;
}

.social {
  flex: 1;
  margin-bottom: 10px;
}

.footer-heading {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  font-family: "Almendra", serif;
}

.link {
  font-size: 18px;
  /* margin-bottom: 30px; */
  color: white;
  font-family: "Almendra", serif;
  padding-bottom: 10px;
  /* margin-left: 100px; */
}

.footer-link a {
  color: white;
  text-decoration: none;
  font-family: "Almendra", sans-serif;
  padding-bottom: 30px;

}

.company-link {
  font-size: 40px;
  text-decoration: none;
}

.footer-copyright {
  margin-top: 30px;
  color: white;
  font-family: "Almendra", sans-serif;
}


.footer-content .column {
  margin: 0;
  font-family: "Almendra", sans-serif;
}

hr {
  display: none;
}
